<%#= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
<%= attachment_image_tag book.user, :profile_image, size: "100x100",format: 'jpeg', class: "profile-img", fallback: "no_image.jpg" %>  

<table class="table">
		<tr>
			<th>name</th>
			<th><%= book.user.name %></th>
		</tr>

		<tr>
			<th>introduction</th>
			<th><%= book.user.introduction %></th>
		</tr>
</table>



<div class="row">
  <% if book.user.id == current_user.id %>
    <%= link_to "",edit_user_path(book.user), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{book.user.id}" %>
  <% else %>     
      <%= link_to "",user_path(current_user), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{book.user.id}" %>
  <% end %>
</div>  
